@model Foodies.Models.Meal

@{
    ViewData["Title"] = "Delete Meal";
}

<div id="headerMain" class="py-5 bg-image-full">
    <h1 class="text-center">Delete A Meal</h1>
    <p class="text-center"><strong>It will be missed</strong></p>
</div>
<div class=" card mt-4">
    <p class="h4 mt-3 ml-2">Meal</p>
    <dl>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDiscription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDiscription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreperationDiscribtion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreperationDiscribtion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfPeople)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumberOfPeople)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PictureMeal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PictureMeal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndUserId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndUserId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LevelPreperation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LevelPreperation.Level)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PreperationTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PreperationTime.RangeMinutes)
        </dd>
    </dl>
</div>
<form asp-action="Delete" class="mt-3">
    <input type="hidden" asp-for="MealId" />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</form>
